<div class="container mt-4">
  <h4>Upload Documents</h4>
  <form class="mt-3 w-50 m-auto">
    <div class="mb-3">
      <label for="photoUpload" class="form-label">Upload Photo</label>
      <input type="file" class="form-control" id="photoUpload" (change)="onFileSelected($event, 'photo')">
      <div *ngIf="photoPreview" class="mt-3">
        <p>Photo Preview:</p>
        <img [src]="photoPreview" alt="Photo Preview" class="img-thumbnail" style="max-width: 200px;">
      </div>
    </div>
    <div class="mb-3">
      <label for="signatureUpload" class="form-label">Upload Signature</label>
      <input type="file" class="form-control" id="signatureUpload" (change)="onFileSelected($event, 'signature')">
      <div *ngIf="signaturePreview" class="mt-3">
        <p>Signature Preview:</p>
        <img [src]="signaturePreview" alt="Signature Preview" class="img-thumbnail" style="max-width: 200px;">
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary" (click)="onUpload()">Upload</button>
    </div>
  </form>
  <div *ngIf="uploadStatus" class="alert alert-success mt-3">
    {{ uploadStatus }}
  </div>
</div>
