<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6" *ngIf="!loading">
      <h2>Forgot Password</h2>
      <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
        <div class="form-group">
          <label class="form-label" for="email">Registered Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="email"
            #emailModel="ngModel"
            placeholder="Enter your registered email"
            required
            email
          />
          <div *ngIf="forgotPasswordForm.submitted && emailModel.invalid" class="text-danger">
            <small *ngIf="emailModel.errors?.['required']">Email is required.</small>
            <small *ngIf="emailModel.errors?.['email']">Invalid email address.</small>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-3">
          Submit
        </button>

        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
      </form>
    </div>

    <!-- Loader -->
    <div class="d-flex justify-content-center align-items-center mt-5 ">
      <div class="loader" *ngIf="loading"></div>
    </div>
  </div>
</div>
