<div class="container-fluid mt-5">
  <h1 class="text-center mb-4">PMAY-G Recruitment 2022</h1>

  <div class="row justify-content-center my-4">
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-header bg-info text-white">
          <h4 class="mb-0">Note</h4>
        </div>
        <div class="card-body">
          <p>
            The candidate should be fluent in English and Hindi, apart from
            Assamese, as they will need to communicate with the Ministry of
            Rural Development, Government of India.
          </p>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-success text-white">
          <h4 class="mb-0">State Program Manager</h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Minimum Qualification:</strong> B.Tech (Computer
              Science/IT/Civil/Electronics and Communication) or BE (Computer
              Science/IT/Civil/Electronics and Communication) or MBA
              (HR/Finance)
            </li>
            <li class="list-group-item">
              <strong>Experience:</strong> Minimum 7 years experience in
              Managerial Cadre in any public sector/reputed private sector
              organization, with IT knowledge.
            </li>
            <li class="list-group-item">
              <strong>Remuneration:</strong> Rs 75,000/- per month + Rs 500/-
              Travel Allowance + Rs 250/- for Telephone and Internet Charges
            </li>
            <li class="list-group-item">
              <strong>Maximum Age (as of 01.01.2022):</strong> 40 Years
            </li>
          </ul>
        </div>

        <div class="d-flex justify-content-start px-4">
          <button class="btn btn-primary btn-md mb-2" (click)="onApply(1)">Apply Now</button>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-success text-white">
          <h4 class="mb-0">
            State Program (Data Analysis and Executive Management)
          </h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Minimum Qualification:</strong> B.Tech (Computer
              Science/IT) or BE (Computer Science/IT) or MCA
            </li>
            <li class="list-group-item">
              <strong>Experience:</strong> Minimum 5 years experience in public
              sector/reputed private sector organization with IT knowledge.
            </li>
            <li class="list-group-item">
              <strong>Remuneration:</strong> Rs 50,000/- per month + Rs 500/-
              Travel Allowance + Rs 250/- for Telephone and Internet Charges
            </li>
            <li class="list-group-item">
              <strong>Maximum Age (as of 01.01.2022):</strong> 40 Years
            </li>
          </ul>
        </div>
        <div class="d-flex justify-content-start px-4">
          <button class="btn btn-primary btn-md mb-2" (click)="onApply(2)">Apply Now</button>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-success text-white">
          <h4 class="mb-0">IT Assistant</h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Minimum Qualification:</strong> BCA or BSc (IT)
            </li>
            <li class="list-group-item">
              <strong>Experience:</strong> Minimum 2 years experience in any
              public sector/private sector organization.
            </li>
            <li class="list-group-item">
              <strong>Remuneration:</strong> Rs 30,000/- per month + Rs 500/-
              Travel Allowance + Rs 250/- for Telephone and Internet Charges
            </li>
            <li class="list-group-item">
              <strong>Maximum Age (as of 01.01.2022):</strong> 30 Years
            </li>
          </ul>
        </div>
        <div class="d-flex justify-content-start px-4">
          <button class="btn btn-primary btn-md mb-2" (click)="onApply(3)">Apply Now</button>
        </div>
      </div>

      <!-- <div class="text-center">
          <button class="btn btn-primary btn-lg" (click)="onApply()">Apply Now</button>
        </div> -->
    </div>
  </div>

  <!-- @if(isActive){
      <button class="btn d-flex gap-2" (click)="onApply()">
        <i class="bi bi-arrow-left"></i>
        <div class="fw-bold">Back</div>
      </button>
      <app-select-post></app-select-post>
    } -->
</div>
